# Docker
PREFIX=tess

# Rails
SECRET_KEY_BASE=changeme

# Database (db is the docker container name)
DB_HOST=db
DB_NAME=tess
DB_USER=tess
DB_PASSWORD=password

# Seed Admin User
ADMIN_EMAIL=admin@localhost
ADMIN_USERNAME=admin_user
ADMIN_PASSWORD=changeme!

# SOLR (solr is the docker container name)
SOLR_URL=http://solr:8983/solr/tess

# REDIS (redis is the docker container name)
REDIS_URL=redis://redis:6379/1

# NGINX parameters
URL=localhost
IP_ADDR=127.0.0.1
SSL_CERT_FILE=nginx-self-signed.crt
SSL_KEY_FILE=nginx-self-signed.key

# --- end of file --- #
