<%= info_box('How to contact us?') do %>
    <p>Got questions or need assistance? Use the contact form below to send us a message directly. Just fill out your name, email address, and message, and we’ll get back to you as soon as possible. Alternatively, you can reach us by email at contact@dresa.org.au. We look forward to hearing from you!</p>
    </p>
<% end %>
