<div class="wrapper">

  <div id="sidebar" class="popout-sidebar">
    <%= render :partial => 'about_nav', locals: { show: 'faqs' } %>
  </div>

  <div id="content" class="">
    <div class="about-block">
      <%= render :partial => 'links', :locals => { 'show': 'about' } %>

      <!-- General Q&As for users: -->
      <div class="row">
	<div class="odd-about-block">
          <div id='how' class="h3">General Q&As for users:</div>
          <br />
        
          <div class="h4">What does DReSA stand for?</div>         
          DReSA is the short form name for the Digital Research Skills Australasia training registry.
         
          <div class="h4">What is DReSA?</div>
          DReSA is a free and open online registry that helps researchers in Australia and New Zealand discover digital research skills training events, materials, providers and trainers. DReSA is not a repository for direct access to digital training objects (events and materials). It is a registry that holds training events and materials descriptive (discovery) metadata.

          <div class="h4">Is DReSA open to anyone?</div>
          Yes. DReSA is free and open to everyone interested in digital research skills, regardless of their location or affiliation. Free to access and search, also free to add events and training materials (with a registered user account).
          
          <div class="h4">Do I need to register for an account to search DReSA?</div>
          You can search and access DReSA without registering or subscribing. However, you will need to “log-in” to create a profile to receive email subscriptions - see question 15 below.
          
          <div class="h4">What kinds of training can I find on DReSA?</div>
          You can find training on a wide range of topics related to digital research, including data management, analysis, visualisation, programming, software tools, and more.
          
          <div class="h4">How can I search for training on DReSA?</div>
          You can search by using a range of filters including keyword, topic, format (e.g., workshop, webinar, tutorial), location, and date.

          <div class="h4">How do I know if a training event is right for me?</div>
          We encourage training providers to include enough information on their training events to allow users an opportunity to judge relevancy. Each listed training event includes metadata such as target audience, level of difficulty, and learning outcomes. 
          
          <div class="h4">How do I register for a training event?</div>
          DReSA provides a link to the training organiser’s training site, where you can register based on the options provided by the organiser.

          <div class="h4">What are My DReSA Links?</div>
          My DReSA Links are analogous to folders (or collections) in which users may group  DReSA’s training materials or events for easy access during future visits. These collections can be created to address the user’s specific training needs. A title, description and keywords can be added to a My DReSA Link to provide context. The search for training events and materials is done within the New My DReSA Link form. Type in a relevant search term in the Materials or Training search bars. Choose appropriate materials and training from the drop down to add to your My DReSA Links (refer to page 11 of the DReSA User Manual).
          
          
          <%= image_tag 'about/package_example.png', class: "widgets_guide"%>
          <div class="include-where-text">
              Figure 1: Example of a My DReSA Link - R for reproducible science.
          </div>

          <div class="h4">What is the Star function?</div>
          Once logged into DReSA users can ‘star’ selected resources. The Starred Resources page is accessible from the User bar via the star icon (✰) and shows a summary of all starred resources. The starred status of resources can be changed by using the Star and Unstar buttons that appear on the event and material detail pages. While Packages can be made public, Starred items are only visible to individual registered users.

          <div class="h4">Does DReSA offer its own training courses?</div>
          No. DReSA is a discovery registry that aggregates training opportunities from various providers. We provide a series of instructional video guides and a PDF User Manual on how to use DReSA. 
          
          <div class="h4">How often is DReSA updated?</div>
          An automated nightly update occurs when new training events and materials and/or edits to existing content are added to the registry.

          <div class="h4">Is DReSA mobile-friendly?</div>
          Yes. DReSA is accessible on all devices, including desktops, tablets, and smartphones.

          <div class="h4">Can I provide feedback on DReSA?</div>
          Yes. We encourage you to provide feedback on your experience with DReSA. You can share your feedback by contacting the DReSA team via contact@dresa.org.au.

          <div class="h4">How do I subscribe to email updates for alerts on new materials uploaded to DReSA filtered by my interests?</div>
          Subscribe to email alerts, by clicking on the Subscribe button, at the top of the Materials or Events section. You will receive emails at the frequency you request that are sent out anytime a new event or new material is uploaded to DReSA. If you set the filters in the Events or Materials section when you subscribe, the emails will only be sent when new events or materials related to those filters are uploaded.  Click on your name in the top banner, and then the “Manage subscriptions” button to change your email subscriptions. You can manage your email notifications and unsubscribe at any time.

          <div class="h4">I can't find any training events or materials that meet my needs. What should I do?</div>
          Subscribe to email alerts as described in the response to question 14. You can also talk to your local university or research organisation to suggest topics for new training.

          <div class="h4">What user data does DReSA collect?</div>
          DReSA collects limited and anonymised user data. Here's a breakdown:
          When you choose to log into DReSA, a user profile is automatically created. This includes, but is not limited to, your name, and email address. You can opt to provide more personal information by editing your profile. You can also choose to share location data with us.
          <ul>
          <li>Search queries: DReSA stores your search terms but not your IP address or any other personally identifiable information (PII). This data is used to improve the search functionality and understand user needs.</li>
          <li>Starred resources: DReSA collects summary cards for the resources that the user has ‘starred’, but your name or other identifiers are not attached to it.</li>
          <li>Subscription information: If you subscribe to email alerts, DReSA stores your email address to send you relevant notifications. You can unsubscribe at any time.</li>
          </ul>

          <div class="h4">What does DReSA do with user data?</div>
          <ul>
          <li>To improve DReSA: The data is primarily used for internal purposes to improve the platform's functionality, discoverability, and content selection. The DReSA team may analyse search trends and user behaviour to understand what topics are most in demand and tailor services accordingly.</li>
          <li>For anonymised reporting: The DReSA team may create anonymised reports based on user data for stakeholders or funding agencies, but these reports do not contain any individual’s information.</li>
          </ul>

          <div class="h4">How secure is the user data collected by DReSA?</div>
          DReSA seeks to keep your personal information secure. To that end, DReSA uses AAF (Australian Access Federation) technology for access, authentication, and identity verification. For information on AAF’s Privacy Policy, for personal details collected through AAF, please see the AAF Ltd Privacy Policy.
          You are responsible for maintaining the confidentiality and security of your password(s). You are therefore responsible for everything done or submitted using your account.
         
          <div class="h4">Pravacy</div>
          The DReSA Privacy Policy outlines data collection practices. Users are encouraged to review it for detailed information.
          If you have any concerns about your data, you can contact the DReSA team directly.

          <div class="h4">What is the process for changing your DReSA password?</div>
          If your account is authenticated via AAF or Tuakiri. Please note that these log in credentials are managed by your home institution and can only be modified through your institution’s IT network. Password resets are only required for users who do not use these federated authentication services. 
          When making a request to change your password, DReSA will send you an email with the following instructions:
          <br/><br/>
          “Hello name,
          A request has been made to change your password on DReSA. You can reset your password using the link below:
          [a link will be provided]
          If you did not request this change, please disregard this email. Your password will remain unchanged until you use the link above to create a new one.”
          <br/><br/>
          If password issues arise that cannot be resolved through the above actions, please send your query to contact@dresa.org.au.

	</div>
      </div>

      <div class="row">
        <div class="about-block">
	  <div id='how' class="h3">General Q&As for for trainers and providers:</div>
          <br />
          
          <div class="h4">Who can register content in DReSA?</div>
          We welcome any training content where the training events and materials are designed for delivery to Australian and New Zealand researchers, HDRs, PhD candidates and research support professionals who are working in digital research.

          <div class="h4">How can I add my training events and materials to DReSA?</div>
          <p>There are a number of ways to add training events and materials after registering as a user and creating a free account.</p> 
          <p>1. Manual Submission:</p>
          <p>Training providers and trainers can submit their training events and materials information directly through an online form on the DReSA website. This method offers flexibility and caters to providers who only have a small number of events and materials to share on DReSA and where automated options may not be straightforward. For information on Creating and Maintaining Events and Materials refer to the DReSA User Manual.</p>
          <p>2. API Integration:</p>
          <p>DReSA offers an Application Programming Interface (API) that allows providers to directly connect their training databases and automatically feed event information into the DReSA platform. This ensures real-time updates and reduces manual effort for both parties. Please email contact@dresa.org.au for help with setting this up.</p>
          <p>3. Data Harvesting:</p>
          <p>DReSA can harvest event data from publicly available websites and calendars of partner organisations. This helps capture additional events that might not be submitted manually. If you would like to see if we can harvest your public training material email contact@dresa.org.au.</p>
          <p>4. CSV upload</p>
          <ul>
          <li>A separate file is required for each type of resource that is being ingested in csv format. The information required to set up the ingestion are the URL of each file and the name of the provider to which they should be linked.</li>
          <li>There is a specific approach to formatting the CSV, which is shown in the following two Google sheets:<ul>
          <li><a href="https://docs.google.com/spreadsheets/d/1g7VBTOBvgdJF5OKj2ytbKc-iNftEwREGqzQNWFhjAho/edit?usp=sharing" target="_blank">DReSA events csv upload template</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1F6iGQrDbWnLNquuKJXBzO33nV8lmvjEzxtxnYDKCuKs/edit?usp=sharing">DReSA training materials csv upload template</a></li>
          </ul></li>
          <li>When saving your events or training materials metadata spreadsheet to csv, ensure that the encoding is using UTF-8 and not UTF-8 BOM.<ul>
          <li>If using Google sheets or uploading a CSV into Google sheets the file will automatically be converted to UTF-8 upon opening it.</li>
          <li>If using Excel, click "File" → "Save as". Name your file, select CSV file type, and click "Tools" → "Web Options". Go to the Encoding tab. In the dropdown for Save this document as: choose Unicode (UTF-8) and click "OK". Note: sometimes the default encoding format is already set to UTF-8 at the point of selecting the CSV file type.</li>
          </ul></li>
          </ul>

          <div class="h4">What benefits are there to registering my training on DReSA?</div>
          DReSA provides a centralised platform to reach a wide audience of potential participants in Australia and New Zealand. It allows you to connect with other trainers and providers to collaborate on training initiatives. It also provides a centralised location for others to learn from the way you are delivering training. 
          Adding training events and materials to DReSA makes them more findable to various users:
          <ul>
          <li>Training in DReSA can be discovered:<ul>
          <li>By browsing DReSA or subscribing to notifications.</li>
          <li>In search engine results, using data harvested from DReSA.</li>
          <li>Through other websites that display DReSA content or sourced using our public API.</li>
          </ul></li>
          </ul>

          <div class="h4">How can I create a trainer profile on DReSA?</div>
          Create a free account simply by logging in. Complete your profile information by clicking on your name in the top banner once you have logged in. You can share your expertise, experience, and contact details. To be listed publicly in the Registry of Trainers click the checkbox ‘Show in Registry of Trainers’ at the bottom of the edit profile page. You can add your photo to your profile by creating a Gravatar profile https://en.gravatar.com and linking that to your DReSA profile.

          <div class="h4">How can I find other trainers and providers to collaborate with?</div>
          Use the search function to find trainers and providers with similar interests and expertise. You can also contact the DReSA team for assistance.
          
          <div class="h4">What benefits does DReSA provide for researchers, HDRs, PhD candidates, research support professionals and students?</div>
          <ul>
          <li>Wider Variety of Training: DReSA aggregates training opportunities from various providers, offering a broader range of topics and formats compared to what your university might offer. This allows researchers, HDRs, PhD candidates and students to explore new skills and tools beyond their immediate departmental or institutional offerings.</li>
          <li>Advanced Topics and Expertise: DReSA connects users with trainers and providers from diverse backgrounds and institutions. This can bring access to specialists and advanced skills training not readily available within your university.</li>
          <li>Flexibility and Convenience: Training events on DReSA are offered by Providers in a variety of modes (online, in person) or in different locations, giving your researchers, HDRs, PhD candidates and students flexibility in attending based on their schedule and preferences.</li>
          </ul>
          
          <div class="h4">What benefits does DReSA offer research performing organisations  such as Universities?</div>
          <ul>
          <li>Complementary Training: DReSA can supplement your existing training programs by offering additional or specialised options from other Providers, which helps to reduce duplication of effort.</li>
          <li>Cost-Effectiveness: Utilising existing resources catalogued on DReSA can reduce the need for your university to develop and offer all training in-house, potentially saving staff time and budget resources.</li>
          <li>Expertise Identification: DReSA can help you identify external trainers and experts for specific training needs for your university.</li>
          <li>Benchmarking and Trends: By exploring training offerings on DReSA, you can gain insights into broader trends and best practices in digital research skills development, aiding in improving your own programs.</li>
          <li>You can use DReSA's filtering options to target specific training opportunities relevant to the needs of your researchers, HDRs, PhD candidates and students based on their discipline, skill level, and preferred format.</li>
          </ul>
               
          <div class="h4">Further information:</div>
          For further information, please visit the DReSA website https://dresa.org.au/, refer to the DReSA User Manual or email your query to contact@dresa.org.au.
        </div>
      </div>

    </div>
    <%= render :partial => 'links', :locals => { 'show': 'about' } %>
  </div>
</div>

